.alert {
    margin-bottom: 0px;
}

#board_container {
    margin-top: 10vh;
}

.modal-content {
    background: #212529;
    color: lightgray;
}

.modal-header {
    border-bottom: 1px solid lightslategray;
}