body {
    background: url("../images/background.png");
}

.navbar-brand {
    color: lightslategray !important;
    margin-left: 1rem;
}

#authentication{
    width: 11rem;
}

.footer {
    padding: 1vh;
}