{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static/css/credits.css">
{% endblock %}

{% block content %}

<div class="container-md" id="credits_container" >
    <h1 class="display-4 text-center text-white" id="title">Credits</h1>
    <hr>
    <p class="h3 text-left text-white" id="heading">Artwork</p>
    <div class="row">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/home/home_page.png" alt="Homescreen" class="img-thumbnail rounded float-left" id="picture">

        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class="text-white h4"style="margin-top:8rem"> Original Photo from Kiwi Ninja's Bloons TD 5 <br>
            Photoshopped by Jason Lam using GIMP </p>
        </div>
    </div>
    <div class="row" style="margin-top:8rem">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/flag.jpg" alt="Flag" class="img-thumbnail rounded float-left" id="picture">

        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class="text-white h4"style="margin-top:8rem">Created by Daraus Zhang using MS Paint <br>
                Combination of Notepad++ Logo and Ryuk from Deathnote</p>
        </div>
    </div>

    <p class="h3 text-left text-white" id="heading">Music</p>
    <div class="row">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/maps/ocean_road.png" alt="ocean_road" class="img-thumbnail rounded float-left" id="picture">
        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class= "text-white h3" style="margin-top:1rem"><u> Ocean Road: </u></p>
            <a href="https://www.youtube.com/watch?v=6E5m_XtCX3c"><p class="text-white h4"style="margin-top:2rem">Ocean Man</p> </a>
            <p class="text-white h5"style="margin-left: 2rem"> by the Ween</p>
        </div>
    </div>

    <div class="row" style="margin-top:8rem">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/maps/cubism.png" alt="cubism" class="img-thumbnail rounded float-left" id="picture">
        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class= "text-white h3" style="margin-top:1rem"><u> Cubism: </u></p>
            <a href="https://www.youtube.com/watch?v=pVOh4r2nOOw&start=0s"><p class="text-white h4"style="margin-top:2rem">Symphony No. 9 "From the New World"</p> </a>
            <p class="text-white h5"style="margin-left: 2rem"> by Antonín Dvořák</p>
        </div>
    </div>

    <div class="row" style="margin-top:8rem">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/maps/floating_island.png" alt="floating_island" class="img-thumbnail rounded float-left" id="picture">
        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class= "text-white h3" style="margin-top:1rem"><u> Floating Island: </u></p>
            <a href="https://www.youtube.com/watch?v=diCDiU7gGHc"><p class="text-white h4"style="margin-top:2rem">Rosalina's Observatory</p> </a>
            <p class="text-white h5"style="margin-left: 2rem"> from Super Mario Galaxy</p>
        </div>
    </div>

    <div class="row" style="margin-top:8rem">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/maps/lightning_scar.png" alt="lightning_scar" class="img-thumbnail rounded float-left" id="picture">
        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class= "text-white h3" style="margin-top:1rem"><u> Lightning Scar: </u></p>
            <a href="https://www.youtube.com/watch?v=tdeJiw6qMkA"><p class="text-white h4"style="margin-top:2rem">Deja Vu- Initial D </p> </a>
            <p class="text-white h5"style="margin-left: 2rem">by Dave Rodgers</p>
        </div>
    </div>

    <div class="row" style="margin-top:8rem">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/maps/castlemania.png" alt="castlemania" class="img-thumbnail rounded float-left" id="picture">
        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class= "text-white h3" style="margin-top:1rem"><u> Castlemania: </u></p>
            <a href="https://youtu.be/R16cVvg2OyY"><p class="text-white h4"style="margin-top:2rem">Astronomia (Medieval Style)</p> </a>
            <p class="text-white h5"style="margin-left: 2rem">Original Music: Vicetone / Tony Igy <br>
                                                              Medieval Edit: Cornelius Link</p>
        </div>
    </div>

    <div class="row" style="margin-top:8rem">
        <div class="col p-3 mb-2 text-white">
            <img src="../static/images/maps/scorched_earth.png" alt="scorched_earth" class="img-thumbnail rounded float-left" id="picture">
        </div>
        <div class="col bg-secondary "style="margin-right:1rem; margin-left:-10rem;">
            <p class= "text-white h3" style="margin-top:1rem"><u> Scorched Earth: </u></p>
            <a href="https://youtu.be/R16cVvg2OyY"><p class="text-white h4"style="margin-top:2rem">Battle of the Heroes- Star Wars</p> </a>
            <p class="text-white h5"style="margin-left: 2rem">by John Williams </p>
        </div>
    </div>

</div>
{% endblock %}
