{% extends "base.html" %}

{% block title %}Bloons TD 7{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/game.css">
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" id="main">
        <h3 id="load_message">Game loading, please wait...</h3>
    </div>
{% endblock %}

{% block scripts %}
<script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>

<script src="../static/js/load.js"></script>

<script> var id = {{ id }} </script>
<script src=../static/js/Maps/ocean_road.js></script>
<script src=../static/js/Maps/floating_island.js></script>
<script src=../static/js/Maps/castlemania.js></script>
<script src=../static/js/Maps/lightning_scar.js></script>
<script src=../static/js/Maps/cubism.js></script>
<script src=../static/js/Maps/scorched_earth.js></script>
<script src=../static/js/Maps/mapdata.js></script>

<script src=../static/js/Bloons/Bloon.js></script>
<script src=../static/js/Bloons/Red_Bloon.js></script>
<script src=../static/js/Bloons/Blue_Bloon.js></script>
<script src=../static/js/Bloons/Yellow_Bloon.js></script>
<script src=../static/js/Bloons/Green_Bloon.js></script>
<script src=../static/js/Bloons/Pink_Bloon.js></script>
<script src=../static/js/Bloons/White_Bloon.js></script>
<script src=../static/js/Bloons/Black_Bloon.js></script>
<script src=../static/js/Bloons/Zebra_Bloon.js></script>
<script src=../static/js/Bloons/Rainbow_Bloon.js></script>
<script src=../static/js/Bloons/Ceramic_Bloon.js></script>
<script src=../static/js/Bloons/MOAB.js></script>

<script src=../static/js/Projectiles/Projectile.js></script>
<script src=../static/js/Projectiles/Dart.js></script>
<script src=../static/js/Projectiles/Gatling_Dart.js></script>
<script src=../static/js/Projectiles/Super_Dart.js></script>
<script src=../static/js/Projectiles/Tack.js></script>
<script src=../static/js/Projectiles/Bomb.js></script>
<script src=../static/js/Projectiles/Banana.js></script>
<script src=../static/js/Projectiles/SpikeBall.js></script>
<script src=../static/js/Projectiles/Juggernaut.js></script>
<script src=../static/js/Projectiles/Fire.js></script>
<script src=../static/js/Projectiles/Blade.js></script>
<script src=../static/js/Projectiles/Grape.js></script>
<script src=../static/js/Projectiles/Hook.js></script>
<script src=../static/js/Projectiles/Ice.js></script>
<script src=../static/js/Projectiles/SMLaser.js></script>
<script src=../static/js/Projectiles/Plasma.js></script>
<script src=../static/js/Projectiles/SGBlast.js></script>
<script src=../static/js/Projectiles/TempleBlast.js></script>
<script src=../static/js/Projectiles/TechBlast.js></script>
<script src=../static/js/Projectiles/Box.js></script>
<script src=../static/js/Projectiles/DGLaser.js></script>
<script src=../static/js/Projectiles/Rocket.js></script>

<script src=../static/js/Towers/Tower.js></script>
<script src=../static/js/Towers/Dart_Monkey.js></script>
<script src=../static/js/Towers/Monkey_Buccaneer.js></script>
<script src=../static/js/Towers/Tack_Shooter.js></script>
<script src=../static/js/Towers/Ice_Monkey.js></script>
<script src=../static/js/Towers/Banana_Farm.js></script>
<script src=../static/js/Towers/Dartling_Gun.js></script>
<script src=../static/js/Towers/Super_Monkey.js></script>

<script src=../static/js/Scenes/HomeScene.js></script>
<script src=../static/js/Scenes/MapSelectionScene.js></script>
<script src=../static/js/Scenes/GameScene.js></script>
<script src=../static/js/config.js></script>
{% endblock %}
