<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/leaderboard.css">

    {% block style %}{% endblock %}
    {% block header %}{% endblock %}
</head>
<body>
    <div class="container" style="padding-top: 100px">
        <table class="table table-hover table-dark w-50 mx-auto table-bordered" id= "leaderboard_table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" width =26%>Maps</th>
                    <th scope="col">Your Scores</th>
                    <th scope="col">World Scores</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ocean Road</td>
                    <td>{{user_scores[0]}}</td>
                    <td>{{global_scores[0]}}</td>

                </tr>
                <tr>
                    <td>Cubism</td>
                    <td>{{user_scores[1]}}</td>
                    <td>{{global_scores[1]}}</td>

                </tr>
                <tr>
                    <td>Floating Island</td>
                    <td>{{user_scores[2]}}</td>
                    <td>{{global_scores[2]}}</td>
                </tr>
                <tr>
                    <td>Lightning Scar</td>
                    <td>{{user_scores[3]}}</td>
                    <td>{{global_scores[3]}}</td>
                </tr>
                <tr>
                    <td>Castlemania</td>
                    <td>{{user_scores[4]}}</td>
                    <td>{{global_scores[4]}}</td>
                </tr>
                <tr>
                    <td>Scorched Earth</td>
                    <td>{{user_scores[5]}}</td>
                    <td>{{global_scores[5]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="d-flex align-items-center">
                    <img src="../static/images/logo.png" height="50" alt="logo">
                    <a class="navbar-brand" href={{ url_for('root') }}>deathnotepad++</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('auth.logout') }}>Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <div class="row" id="authentication">
                        <a class="nav-link mx-auto" href={{ url_for('auth.register') }}>Sign Up</a>
                        <a class="nav-link disabled">or</a>
                        <a class="nav-link mx-auto" href={{ url_for('auth.login') }}>Log In</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>

<footer class="footer fixed-bottom bg-dark">
    <div style="text-align: center">
        <span class="text-muted">
            &copy;deathnotepad++ 2020
        </span>
    </div>
</footer>
</body>
</html>
