<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
{% for type, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ type }} mx-auto alert-dismissable" role="alert" style="width:80%;text-align:center">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<div class="card mx-auto" style="width:50%" >
    <div class="card-body">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="username">{{ form.username.label }}</label>
                {{ form.username() }}
            </div>
            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password() }}
            </div>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</div>

<script src="../static/js/login.js"></script>
</body>
</html>